body {
    width:100%;
    height: auto;
    background-image: url(/src/dashboard/dashboardbackground.jpg);
    background-size: 100%;
    background-repeat: repeat;
}


.greeting {
    grid-area: greeting;
    font-size: .9em;
}

.date_time {
    grid-area: date_time;
    font-size: .9em;
    vertical-align: center;
    }

.calculator {
    grid-area: calculator;
    font-size: 1em;
    color: rgb(7, 6, 6);
}

.todo_list {
    grid-area: todo_list;
    list-style-position: inside;
    font-size: 1.5em;
}

.myLocationDiv {
    grid-area: myLocation;
}

#my-coordinates {
    font-size: 1em;
    height: 10px;
    margin: 0;
}



.event_countdown {
    grid-area: event_countdown;
    font-size: 1.5em;
    justify-items: center;
    align-items: center;
}

.calendar {
    grid-area: calendar;
    font-size: 1.5em;
    

}

.sports_links {
    grid-area: sports_links;
    font-size: 1.5em;
    vertical-align: center;

}

.container {
    width: 100%;
    height: auto;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-areas:
    "greeting"
    "date_time"
    "calculator"
    "todo_list"
    "event_countdown"
    "calendar"
    "sports_links";
}
#calcContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calcContainer ul{
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
    width: 350px;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    background-color: rgb(71, 70, 70);
}
#calcContainer ul li{
    width: 4em;
    margin: 0px 12px;

}

.display {
    border: 1px solid black;
    width: 350px;
    height: 3em;
    background-color: rgb(241, 243, 95);
    color: black;

}

.functions {
    background-color: orange;
    border: 1px solid white;
}

.numbers {
    background-color: grey;
    border: 1px solid white;

}

.blank {
    background-color: black;
    border: 1px solid white;

}

@media (min-width: 768px) {


    .container {
        width: 100%;
        height: auto;
        text-align: center;
        display: inline-grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr);   
        justify-content: center;
    }
    .greeting {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        
    
    }
    .calculator {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 6;
        
    
    }
    .date_time {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    
    
    .todo_list {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 10;
}

    .event_countdown {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    
    }
    
    .calendar {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 10;
        
    
    }
    
    .sports_links {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 12;
    }
}
    
/* Medium and up (Tablets) */
@media (min-width: 992px) {
    .container {
        width: 100%;
        height: auto;
        text-align: center;
        display: grid; 
        grid-template-columns: 1fr 1fr;  
        justify-content: center;
    }
    .greeting {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        
    
    }
    .calculator {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        
    
    }
    .date_time {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    
    
    .todo_list {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 14;
        }
    
    
    
    .event_countdown {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    
    }
    
    .calendar {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 10;
        
    
    }
    
    .sports_links {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 14;
    }
}