body {
    width:100%;
    height: auto;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/TtcstKI/videoblocks-abstract-plexus-polygon-nodes-and-connections-form-network-for-visuals-vj-internet-presentations-motion-background-hi-tech-technology-science-engineering-medical-dashboard-seamless-loop_srp7yyfff_thumbnail-full01.png);
    background-size: 100%;
    background-repeat: repeat;
}


.greeting {
    grid-area: greeting;
    font-size: .9em;
    color: rgb(252, 252, 252);
    

}

.date_time {
    grid-area: date_time;
    font-size: .9em;
    color: rgb(252, 252, 252);
    
}

.calculator {
    grid-area: calculator;
    font-size: 1em;
    color: rgb(7, 6, 6);
    color: white;
    

}

.todo_list {
    grid-area: todo_list;
    list-style-position: inside;
    font-size: 1.5em;
    color: rgb(252, 252, 252);
    }



.event_countdown {
    grid-area: event_countdown;
    font-size: 1.5em;
    color: rgb(252, 252, 252);

}

.calendar {
    grid-area: calendar;
    font-size: 1.5em;
    color: rgb(252, 252, 252);

}

.sports_links {
    grid-area: sports_links;
    font-size: 1.5em;
    color: rgb(252, 252, 252);

}

footer {
    grid-area: footer;
    font-size: 1.5em;
    color: rgb(252, 252, 252);

}

.container {
    
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-areas:
    "greeting"
    "date_time"
    "calculator"
    "todo_list"
    "event_countdown"
    "calendar"
    "sports_links"
    "footer";
      
}
#calcContainer {
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
 
}
#calcContainer ul{
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
    width: 350px;
    margin: 0px;
    
    padding: 0px;
    background-color: rgb(71, 70, 70);


}
#calcContainer ul li{
    width: 4em;
    margin: 0px 12px;

}

.display {
    border: 1px solid black;
    width: 350px;
    height: 3em;
    background-color: rgb(241, 243, 95);
    color: black;

}

.functions {
    background-color: orange;
    border: 1px solid white;
}

.numbers {
    background-color: grey;
    border: 1px solid white;

}

.blank {
    background-color: black;
    border: 1px solid white;

}