body {
    width:100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?cs=srgb&dl=bench-carved-stones-cemetery-257360.jpg&fm=jpg);
    background-size: 100%;
    background-repeat: inherit;
}


.greeting {
    grid-area: greeting;
    font-size: .9em;
    color: rgb(252, 252, 252);
    text-align: center;

}

.date_time {
    
    grid-area: date_time;
    font-size: .9em;
    color: rgb(252, 252, 252);
    text-align: center;

}

.calculator {
    text-align: center;
    grid-area: calculator;
    font-size: 1em;
    color: rgb(7, 6, 6);
    text-align: center;
    background-color: rgb(211, 211, 211);

}

.todo_list {
    grid-area: todo_list;
    display: inline-block;
    text-align: center;
    list-style-position: inside;
    font-size: 1.5em;
    color: rgb(252, 252, 252);
    }

.todo_list h2 {
    padding-left: 1.5em;
}

.event_countdown {
    grid-area: event_countdown;
    text-align: center;
    font-size: 1.5em;
    color: rgb(252, 252, 252);

}

.calendar {
    grid-area: calendar;
    text-align: center;
    font-size: 1.5em;
    color: rgb(252, 252, 252);

}

.sports_links {
    grid-area: sports_links;
    font-size: 1.5em;
    color: rgb(252, 252, 252);
    text-align: center;

}

footer {
    grid-area: footer;
    font-size: 1.5em;
    color: rgb(252, 252, 252);
    text-align: center;

}

.container {
    
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-areas:
    "greeting"
    "date_time"
    "calculator"
    "todo_list"
    "event_countdown"
    "calendar"
    "sports_links"
    "footer";
      
}
#calculator {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid black;
    text-align: center;
}

.display {
    border: 3px solid black;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr;
    background-color: aqua;
}

#row1 {
    
    list-style: none;
    text-align: left;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    
      
}
#row2 {
    
    list-style: none;
    text-align: left;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    
      
}
#row3 {
    
    list-style: none;
    text-align: left;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    
      
}
#row4 {
    
    list-style: none;
    text-align: left;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
      
}
#row5 {
    
    list-style: none;
    text-align: left;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    
      
}